# Example .gitignore file for your config dir. A * ensures that everything
# will be ignored.
*
# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!README.MD
!*.md
!dummy_files/
!dummy_files/Homeassistant-SmartLife-Dummy.json
!switch/
!sensor/
!light/

# Ignore folders.
megalinter-reports/
.storage
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret
# data/credentials will leak.
ip_bans.yaml
bt-mqtt-gateway.yaml
secrets.yaml
known_devices.yaml
google_calendars.yaml
Homeassistant-SmartLife-f9d43c517637.json
