# Example .gitignore file for your config dir. A * ensures that everything
# will be ignored.
*
# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!README.MD
!*.md
!dummy_files/
!dummy_files/Homeassistant-SmartLife-Dummy.json
!switch/
!sensor/
!light/
!automation/
!device_tracker/
!notify/
!.github/
!.github/workflows/
!.github/workflows/automerge-dependabot.yml

# Ignore folders.
megalinter-reports/
.storage
.cloud
.google.token
.o365-token-cache
o365_storage

# Ensure these YAML files are ignored, otherwise your secret
# data/credentials will leak.
ip_bans.yaml
bt-mqtt-gateway.yaml
secrets.yaml
known_devices.yaml
google_calendars.yaml
Homeassistant_google_assistant.json
config_ic3.yaml
o365*.yaml
.google_maps_location_sharing*
*token*
*cookie*